<div class="chat-page">
  <section class="chat-list">
    <div class="chats-header">
      <div class="chats-header__button">
        {{{Button text="Профиль >" class="button_text" onClick=toProfilePage}}}
        {{{Button text="Создать чат" class="button_text" onClick=onCreateChatClick}}}
      </div>
      <div class="chats-header__search-container">
        <input class="chats-header__search-input" type="text" placeholder="Поиск">
        <img class="chats-header__search-icon" src='{{searchIcon}}' alt="Поиск">
      </div>
    </div>
    {{#each chats}}
      {{{ChatListItem
        icon=this.avatar
        chatName=this.title
        chatLastMessage=this.chatLastMessage
        lastMessageDate=this.lastMessageDate
        unreadedMessages=this.unread_count
        onClick=this.onClick
      }}}
    {{/each}}
  </section>
  <div class="conversation">
    <div class="conversation__header">
    <div class="conversation__chat-name-container">
      <img class="conversation__avatar" src={{avatar}} alt="аватар">
      <p class="conversation__chat-name">{{chatName}}</p>
    </div>
    {{#Button class="conversation__settings-button" onClick=onSettingsClick}}
      <img src={{settingsIcon}} alt="настройки">
    {{/Button}}
    {{!-- <button class="conversation__settings-button">
      <img src={{settingsIcon}} alt="настройки">
    </button> --}}
  </div>
    <div class="conversation__messages-container">
      {{#if selectedChat }}
        {{#each messages}}
          {{{Message
            text=this.content
            time=this.time
            isMine=(isMineMessage this.isMine)
          }}}
        {{/each}}
      {{else}}
      <div style=" height: 100%; display: flex; align-items: center; justify-content: center">
        Выбирете чат
      </div>
      {{/if}}
    </div>
    <div class="conversation-footer">
    <button class="conversation-footer__attach-button">
      <img src="{{attachIcon}}" alt="Прикрепить файл">
    </button>
    {{#Form border="form_message" onSubmit=onSubmitForm}}
    <textarea class="conversation-footer__input" name="message" type="textarea" placeholder="Сообщение"></textarea>
    <button type="submit" class="conversation-footer__send-message-button">
      <img class="conversation-footer__send-message-icon" src="{{sendMessageIcon}}" alt="Отправить сообщение">
    </button>
    {{/Form}}
  </div>
  </div>
  {{#Popup visibility=popupVisibility onClick=onClosePopup}}
    {{#Modal title="Создание чата"}}
      {{#Form border=(formWithoutBorder true) onSubmit=onChatCreate}}
        <div style="position: relative; margin-bottom: 20px">
          {{{Label label="Название чата" name="title"}}}
          {{{Input name="title" type="text" }}}
        </div>
        {{{Button type="submit" text="Создать" class="button_primary"}}}
      {{/Form}}
    {{/Modal}}
  {{/Popup}}
</div>
